<section>
    <h2>Entre como Participante</h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="room-id">Código da sala</label>
        <input name="roomId" type="number" placeholder="Código da Sala" id="room-id">
        <button>
            <img src="images/new-world-icon.png" alt="Entrar em uma sala">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie sua própria sala</h2>
    <a class="button outlined" href="/create-pass">
        <img src="images/createroom.png" alt="Criar sala">Criar Sala
    </a>
</section>